$fontMain: "Roboto", sans-serif;

$colorBackgroundSearch: #f5f5f5;
$colorBackgroundSeries: #f2edf3;
$colorButtonBackground: #2750d8;
$colorCardBackground: #98bbe4;
$colorTextSeries: #2750d8;
$colorTextTitles: rgb(233, 7, 176);
