.header {
  width: 100%;
  height: 140px;
  padding-top: 30px;
  font-family: $fontMain;
  font-size: x-large;
  text-align: center;
  color: $colorTextHeader;
  background-color: $colorBackgroundPage;
}
.container {
  width: 100%;
  font-family: $fontMain;
  display: flex;
  background-color: $colorBackgroundPage;
}
.section-search {
  padding: 15px;

  &__input {
    border: none;
    outline: none;
    background-color: #fcfcfc;
    border: 0;
    border-bottom: 2px solid $colorTextTitles;
    padding: 10px;
    font-size: medium;
    color: $colorTextTitles;
    &::placeholder {
      color: $colorTextTitles;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__button {
    width: 70px;
    height: 30px;
    margin-top: 20px;
    border: none;
    font-size: medium;
    color: white;
    background-color: $colorTextTitles;
    outline: none;
  }
}
.section-favourites {
  width: 30%;
  margin-top: 15px;
  font-size: medium;
  text-align: center;
  color: $colorTextTitles;
  text-overflow: clip;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cards {
    margin-bottom: 10px;
    list-style: none;
    color: $colorTextTitles;
    &--item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &--title {
      max-width: 100px;
    }
    &--img {
      max-width: 80px;
    }
    &--button {
      margin: 10px;
      color: $colorTextTitles;
    }
  }
}
.section-cards {
  width: 70%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  background-color: $colorBackgroundSeries;
}
.card {
  &__list {
    &--button-reset {
      width: 100px;
      height: 30px;
      margin: 20px;
      border: none;
      font-size: medium;
      color: white;
      background-color: $colorTextTitles;
      border-radius: 15px;
      outline: none;
    }
    &--item {
      margin: 20px;
      text-align: center;
      color: $colorTextTitles;
      font-size: medium;
    }
    &--img {
      max-width: 150px;
    }
  }
}
